<h1>Add character</h1>
        
<%= link "Back", to: character_path(@conn, :list) %>

<%= render "form.html", 
        changeset: @changeset, 
        action: character_path(@conn, :create),
        options: [method: :post] %>
