<a href="<%= character_path(@conn, :edit, @category, @character["_id"]) %>" class="btn btn-primary pull-right">Edit</a>

<h1><%= @character["name"] %></h1>
<img src='<%= @character["image_url"] %>' />
<h3><%= @character["description"] %></h3>
<%= link "Back", to: character_path(@conn, :list, @category) %>