<h1>All characters</h1>
<div class="list-group">
    <%= for c <- @characters["rows"] do %>
        <%= render "summary.html", character: c["value"], category: @category, conn: @conn %>
    <% end %>
</div>
<a href='<%= character_path(@conn, :create, @category) %>' class="btn btn-primary pull-right">Add character</a>