<a href='<%= character_path(@conn, :show, @character["_id"]) %>'>
    <div class="list-group-item">
        <span>
            <img src='<%= @character["image_url_tiny"] %>' width="@witdh_tiny_url" height="130" />
        </span>
    </div>
</a>