<a href='<%= character_path(@conn, :show, @category, @character["_id"]) %>'>
    <div class="list-group-item">
        <span>
            <img src='<%= @character["image_url_tiny"] %>' width="100" height="130" />
        </span>
    </div>
</a>